<footer class="footer">
    <div class="container">
    <h2>- get in touch with us -</h2>
    <p class="footer__text">Maecenas faucibus molli interdum. Cras mattis consectetur purus sitor amet sed donec malesuada ullamcorper odio. 
    <span>Curabitur blandit tempus porttitor vollisky inceptos mollisestor.</span>
    </p>
    <div class="footer__icons--wrapper">
    <div class="footer__icons">
        <a href="#"><div class="circle rss"><img src="@img/rss-icon.svg" alt="rss-icon"></div></a>
        <a href="#"><div class="circle facebook"><img src="@img/facebook-icon.svg" alt="facebook-icon"></div></a>
        <a href="#"><div class="circle twitter"><img src="@img/twitter-icon.svg" alt="twitter-icon"></div></a>
        <a href="#"><div class="circle dribbble"><img src="@img/dribbble-icon.svg" alt="dribbble-icon"></div></a>
        <a href="#"><div class="circle pinterest"><img src="@img/pinterest-icon.svg" alt="pinterest-icon"></div></a>
    </div>
</div>
    <div class="footer__contacts">
        <p>Moonshine St. 14-05 Light City</p>
        <p><a href="tel:+001234567890">T. +00 (123) 456 78 90</a></p>
        <span><a href="mailto:first.last@email.com"> first.last@email.com</a></span>
    </div>
</div>  
</footer>