<header class="header container">

<div class="menu">
    <div class="menu__btn">
       <span class="menu-btn__line"></span>
    </div>
    <nav class="nav">
        <ul class="nav__list">
            <li class="nav__list-item"><a href="#">Home</a></li>
            <li class="nav__list-item"><a href="#">about us</a></li>
            <li class="nav__list-item"><a href="#">our journal</a></li>
            <li class="nav__list-item"><a href="#">projects</a></li>
            <li class="nav__list-item"><a href="#">news</a></li>
            <li class="nav__list-item"><a href="#">features</a></li>
            <li class="nav__list-item"><a href="#">contact</a></li>
        </ul>
    </nav>
</div>
<img class="header__img" src="@img/header-img.jpg" alt="two railroad tracks that intersect and then diverge">
</header>