<section class="instagram">
<div class="container">
<div class="instagram__title">
    <h2 class="instagram__title--mob">- Last Instagram Shot</h2>
    <h2 class="instagram__title--big">- Latest Instagram Shots</h2>
    <a href="#">go to our instagram page -</a>
</div>
<div class="instagram__img">
<img src="@img/post-1.jpg" alt="parked bicycle">
<img class="instagram__img--hidden" src="@img/post-2.jpg" alt="The red door is open">
<img class="instagram__img--hidden-tab" src="@img/post-3.jpg" alt="electrical wires in a metal box">
<img class="instagram__img--hidden-desktop" src="@img/post-4.jpg" alt="ld rusty van">
</div>
</div>
</section>