<section class="posts">
    <div class="container">
    <h2>- our Recent posts</h2>
    <div class="posts__grid">
    <div class="posts__card">
        <img class="posts__img" src="@img/post-img1.jpg" alt="a teapot with tea and a cup">
       <div class="posts__card--wrapper">
        <h3>Aenean Adipiscing Etiam Vestibulum</h3>
        <div class="posts__card--comments">
            <a href="#"><span>Photography, Journal</span></a> 
            <span class="posts__card--slash">/</span>
            <a href="#"><span>9 Comments</span></a>
            
        </div>
        <p class="posts__card--text">Etiam porta sem malesuada euismod. Aenean leo quam. 
        </p>
        <p class="posts__card--text">Pellentesque ornare sem lacinia quam venenatis vestibulum.</p>
       </div> 
        
    </div>
    <div class="posts__card">
        <img class="posts__img" src="@img/post-img2.jpg" alt="a table with a menu">
        <div class="posts__card--wrapper">
            <h3>Aenean Adipiscing Etiam Vestibulum</h3>
            <div class="posts__card--comments">
                <a href="#"><span>Photography, Journal</span></a> 
                <span class="posts__card--slash">/</span>
                <a href="#"><span>9 Comments</span></a>
                
            </div>
            <p class="posts__card--text">Etiam porta sem malesuada euismod. Aenean leo quam. 
            </p>
            <p class="posts__card--text">Pellentesque ornare sem lacinia quam venenatis vestibulum.</p>
           </div> 
    </div>
    <div class="posts__card">
        <img class="posts__img" src="@img/post-img3.jpg" alt="people with umbrellas on the street">
        <div class="posts__card--wrapper">
            <h3>Aenean Adipiscing Etiam Vestibulum</h3>
            <div class="posts__card--comments">
                <a href="#"><span>Photography, Journal</span></a> 
                <span class="posts__card--slash">/</span>
                <a href="#"><span>9 Comments</span></a>
                
            </div>
            <p class="posts__card--text">Etiam porta sem malesuada euismod. Aenean leo quam. 
            </p>
            <p class="posts__card--text">Pellentesque ornare sem lacinia quam venenatis vestibulum.</p>
           </div> 
    </div>
    <div class="posts__card posts__card--hidden">
        <img class="posts__img" src="@img/post-img4.jpg" alt="A bouquet of roses">
        <div class="posts__card--wrapper">
            <h3>Aenean Adipiscing Etiam Vestibulum</h3>
            <div class="posts__card--comments">
                <a href="#"><span>Photography, Journal</span></a> 
                <span class="posts__card--slash">/</span>
                <a href="#"><span>9 Comments</span></a>
                
            </div>
            <p class="posts__card--text">Etiam porta sem malesuada euismod. Aenean leo quam. 
            </p>
            <p class="posts__card--text">Pellentesque ornare sem lacinia quam venenatis vestibulum.</p>
           </div> 
    </div>
</div>
</div>
</section>