
.footer{
    background-color: #000000;
    text-align: center;
    h2{
        color: #FEFEFE;
        padding: 38px 0 5px 0;
    }
    &__text{
        @include footer-text-mob;
        margin: 0 1.8em;
        span{
            display: none
        }
    }
    &__icons--wrapper{
        @include flex-center;
    }
    &__icons{
        width: 192px;
        display: flex;
        justify-content: space-between;
        margin: 20px 0 21px;
    }
    .circle{
    @include flex-center;
    box-sizing: border-box;
    width: 34px;
    height: 34px;
    background: rgba(0, 0, 0, 0.0001);
    border-radius: 30px;
    }
    .rss{
    border: 2px solid #F8902E;
    }
    .facebook{
    border: 2px solid #39599F;
    }
    .twitter{
    border: 2px solid #45B0E3;
    }
    .dribbble{
    border: 2px solid #D97AB0;
    }
    .pinterest{
    border: 2px solid #CC212C;
    }
    &__contacts{
        @include footer-contacts-mob;
        padding-bottom: 47px;
    }
    &__contacts > p::after{
        content: "  /"; 
    }
}