
.menu{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: relative;
    padding: 23px 0;
    
}
.menu__btn{
    position: relative;
    width: 44px;
    height: 37px;
    background: #000000;
}
.menu-btn__line{
@include menu-btn-line;
left: 14px;
top: 17px;
&::before{
    @include menu-btn-line;
    content: "";
    top: -4px;
}
&::after{
    @include menu-btn-line;
    content: "";
    top: 4px;
}
}
.menu-btn__line.active{
    transform: rotate(45deg);
    &::after{
        top: 0;
        transform: rotate(90deg);   
    }  
    &::before{
        display: none;
    }
}
.nav{
display: none;
@include nav-font;
position: absolute;
top: 37px;
text-transform: uppercase;
background-color: #F5F5F5;
width: 182px;
    &__list-item{
    padding-bottom: 10px;
    padding-left: 12px;
}
    &__list-item:first-of-type{
    padding-top: 5px;
}
    &__list-item:last-of-type{
    padding-bottom: 2px;
}
    &__list-item:hover{
        background-color: #E5E5E5;
    }
   
}
.nav.active{
    display: block;
}
.header__img{
    width: 100%;
    max-height: 550px;
}