
.instagram{
    &__title{
    padding-top: 32px;
    display: flex;
    justify-content: space-between;
    a{
    display: none;
    }
    &--big{
        display: none;
    }
}
    &__img{
        padding: 13px 0 38px;
    }
    img{
        width: 301px;
    }
    &__img--hidden{
        display: none;
    }
    &__img--hidden-desktop {
        display: none;
    }
    &__img--hidden-tab{
        display: none;
    }
}