@media (min-width:1200px){
    .container{
        min-width: 1170px;
    }
    .menu{
        margin-bottom: 13px;
        margin-top: 6px;
    }
    .nav{
        &__list-item:first-of-type{
            padding-top: 16px;
            }
        &__list-item{
            padding: 16px 68px 17px 0;
            }
        &__list-item:last-of-type{
            padding: 16px 0 17px 0;
            }
    }
    .header__img{
        width: 1170px;
        height: 550px;
    }
    .posts{
        margin: 60px 0;
    &__grid{
        display: grid;
        grid-template: 1fr 1fr/ 1fr 1fr;
        row-gap: 32px;
        column-gap: 55px;
    }
    &__card{
        margin-top: 0;
    }
    }
    .instagram{ 
        &__title{
        padding-top: 58px;
        }
   &__img{
       padding: 24px 0 49px;
       grid-template-rows: 285px;
   }
   img{
       width: 285px;
       height: 285px;
   }
   }
   .footer{
    h2{
        padding: 66px 0 16px 0;
    }
    &__text{
        margin: 0 15em;
    }
    &__contacts{
        padding-bottom: 70px;
    }
}
}
