@media (min-width: 481px){
    h2{
        @include h2-text;
    }
.container{
    min-width: 480px;
    padding: 0px 35px;
}
.menu__btn, .menu-btn__line{
    display: none;
}
.nav{
    display: flex;    
    position: unset;
    background-color: #ffffff;
    width: 100%;
        &__list{
        display: flex;
        justify-content: space-around;
        width: 100%;
}
        &__list-item:first-of-type{
            padding-top: 18px;
        }
        &__list-item{
            padding: 18px 0 15px 0;
        }
        &__list-item:last-of-type{
            padding: 18px 0 15px 0;
        }
        &__list-item:hover{
            background-color:#ffffff;
            color: #57A4A4;
        }
}
// .posts{
//     margin: 59px 0 60px;
// h3{
//     @include h3-text;
//     margin-top: 0;
//     margin-bottom: 1px;
// }
// span{
//     @include comment-text;
// }
// &__card--wrapper{
//     margin-left: 20px;
// }
// &__card{
//     flex-direction: row;
// }
// &__card--text{
//     @include post-text;
//     display: block;
// }
// &__card--hidden{
//     display: flex;
// }
// }
.instagram{
    background: #00000008;
   &__title{
       padding-top: 47px;
       display: flex;
       justify-content: space-between;
       a{
       display: block;
       @include instagram-link;
       }
       &--mob{
        display: none;
       }  
       &--big{
        display: block;
       }  
}
&__img{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-template-rows: 250px;
    max-width: 100%;
    grid-column-gap: 10px;
   padding: 35px 0 50px;
}
&__img--hidden{
   display: flex;
}
img{
   width: 250px;
   height: 249px;
}
}

}
@media (min-width: 640px){
    .posts{
        margin: 59px 0 60px;
    h3{
        @include h3-text;
        margin-top: 0;
        margin-bottom: 1px;
    }
    span{
        @include comment-text;
    }
    &__card--wrapper{
        margin-left: 20px;
    }
    &__card{
        flex-direction: row;
    }
    &__card--text{
        @include post-text;
        display: block;
    }
    &__card--hidden{
        display: flex;
    }
    }
}
@media (min-width: 690px){
    .instagram{
        &__img--hidden-tab{
            display: flex;
        }
    }
}
@media (min-width: 768px){
.container{
    min-width: 768px;
    padding: 0px 50px;
}
.menu{
    flex-direction: row;
    margin-bottom: 5px;
    margin-top: 23px;
    
}

.nav{
    @include flex-center;    
        &__list{
        justify-content: center;
}
        &__list-item{
            padding: 18px 37px 15px 0px;
        }
}
.posts{
    margin-top: 47px;
    &__card{
        margin-top: 32px;
        &--wrapper{
            margin-top: -1px;
        }
        &--comments{
            margin-bottom: 7px;
        }
    }
    h3{
        margin-bottom: 0px
    }

}
// .instagram{
//     &__img--hidden-tab{
//             display: flex;
//         }
// }
// .header__img{
//     width: 768px;
//     height: 361px;
// }
// .posts{
//     margin: 59px 0 60px;
// h3{
//     @include h3-text;
//     margin-top: 0;
//     margin-bottom: 1px;
// }
// span{
//     @include comment-text;
// }
// &__card--wrapper{
//     margin-left: 20px;
// }
// &__card{
//     flex-direction: row;
// }
// &__card--text{
//     @include post-text;
//     display: block;
// }
// &__card--hidden{
//     display: flex;
// }
// }

// .instagram{
//      background: #00000008;
//     &__title{
//         padding-top: 47px;
//         display: flex;
//         justify-content: space-between;
//         a{
//         display: block;
//         @include instagram-link;
//         }   
// }
// &__img{
//     display: flex;
//     justify-content: space-between;
//     padding: 35px 0 50px;
// }
// &__img--hidden{
//     display: flex;
// }
// img{
//     width: 250px;
//     height: 249px;
// }
// }
.footer{
    h2{
        padding: 57px 0 16px 0;
    }
    &__text{
        @include footer-text;
        margin: 0 3em;
        span{
            display: inline
        }
    }
    &__icons{
        margin: 30px 0 34px;
    }
    &__contacts{
        @include footer-contacts;
        display: flex;
        justify-content: center;
        padding-bottom: 56px;
    }
}
}
@media (min-width: 860px){
    .container{
        // min-width: 860px;
        padding: 0px 80px;
    }
    .instagram{
        // &__img--hidden-desktop{
        //     display: flex;
        // }
        // img{
        //     width: 285px;
        //     height: 285px;
        // }
    }
    }
    @media (min-width: 1040px){
        .instagram{
            &__img--hidden-desktop{
                display: flex;
            }
            img{
                width: 285px;
                height: 285px;
                }
    }
}