@mixin nav-font{
font-style: normal;
font-weight: 400;
font-size: 11px;
line-height: 22px;
letter-spacing: 1.1px;
color: $color-title;
}
@mixin h2-mob-text{
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 22px;
color: $color-title;
text-transform: uppercase;
}
@mixin h2-text{
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 22px;
color: $color-title;
text-transform: uppercase;
}
@mixin comment-text-mob{
font-style: normal;
font-weight: 400;
font-size: 11px;
line-height: 20px;
color: $color-comment;
}
@mixin comment-text{
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 20px;
color: $color-comment;
}
@mixin h3-text-mob{
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 30px;
color: $color-title;
}
@mixin h3-text{
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 30px;
color: $color-title;
}
@mixin post-text{
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 26px;
color:$color-text;
}
@mixin instagram-link{
font-style: normal;
font-weight: 700;
font-size: 13px;
line-height: 22px;
color:$color-title;
text-transform: uppercase;

    }
@mixin footer-text-mob{
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 20px;
color: $color-footer-text;
}
@mixin footer-text{
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 28px;
color: $color-footer-text;
}
@mixin footer-contacts-mob{
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 24px;
color: $color-footer-text;
}
@mixin footer-contacts{
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 26px;
color: $color-footer-text;
}
@mixin insta-link{
font-style: normal;
font-weight: 700;
font-size: 13px;
line-height: 22px;
color: $color-title;
}
@mixin menu-btn-line{
position: absolute;
width: 17px;
height: 2px;
background-color: white;
}
@mixin flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}
