//posts
.posts{
    margin: 33px 0 43px;
    h3{
        @include h3-text-mob;
        margin-top: 11px;
    }
    span{
        @include comment-text-mob;
    }
    &__grid{
        margin-top: 23px;
    }
    &__card{
        display: flex;
        flex-direction: column;
        margin-top: 26px;
    }
    &__card:first-of-type{
        margin-top: 0;
    }
    &__img{
        width: 160px;
        height: 140px;
    }
    &__card--comments{
        display: flex;
    }
    &__card--slash {
        padding: 0 1em;
    }
    &__card--text{
        display: none;
    }
    &__card--hidden{
        display: none;
    }
}