@import "reset";

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import "variables";
@import "mixins";

body{
    font-family: 'Roboto', sans-serif;
}
.wrapper{
    min-height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;

}
a{
    cursor: pointer;
    text-decoration: none;
}
h2{
    @include h2-mob-text;
}
 .container{
    min-width: 320px;
    max-width: 1342px;
    margin: 0 auto;
    padding: 0 26px;
//     margin: 0 auto;
    // min-width: 320px;
 }
@import "header";
@import "posts";
@import "instagram";
@import "footer";
@import "media-tab";
@import "media-desktop";





